.day-weather{
    height: 100%;
    width:13%;
    background-color: cyan;
    border: solid 1px rgb(0, 0, 0);
    display:flex;
    flex-wrap: wrap;
  }
  
  .day-day{
    display:flex;
    justify-content: center;
    align-items: center;
    height:20%;
    width: 100%;
    border: solid 1px rgb(0, 0, 0);
  }
  
  .day-icon{
    display:flex;
    justify-content: center;
    align-items: center;
    height:60%;
    width: 100%;
    border: solid 1px rgb(0, 0, 0);
  }
  
  .day-temp{
    display:flex;
    justify-content: center;
    align-items: center;
    height:20%;
    width: 100%;
    border: solid 1px rgb(0, 0, 0);
  }