.weather-data{
    height: 400px;
    width:800px;
    display:flex;
    justify-content: flex-start;

  }
  
  .weather-info{
    height: 100%;
    width: 50%;


  }
  
  .icon{
    margin-top: 0px;
    height: 45%;
    width: 100%;

  }
  
  .temp{
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size:60px;
    font-family: 'M PLUS 1p', sans-serif;  
    color:white;
  }
  .weather{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20%;
    width: 100%;
    font-size: 40px;
    font-family: 'M PLUS 1p', sans-serif;  
    font-weight: 300;
    color:white;
  }

  .image{
    height: 100%;
    width: 100%;
  }

.misc-data{
  height:100%;
  width:50%;

}

.country{
  height: 10%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;

}