.weather-wrapper{
  
  height: 550px;
  width: 850px;
  background-color: rgb(162, 0, 255);
  margin-top: 90px;
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgb(46, 46, 46) ;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  

}


.weather-body{
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content: center;
}

.week-weather{
  height: 120px;
  width:90%;
  background-color: orange;
  display:flex;
  justify-content: space-between;
}


